<p id="notice"><%= notice %></p>

<p>
  <strong>Cliente:</strong>
  <%= @factura.cliente %>
</p>

<p>
  <strong>Vendedor:</strong>
  <%= @factura.vendedor %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @factura.valor %>
</p>

<p>
  <strong>Num productos:</strong>
  <%= @factura.num_productos %>
</p>

<p>
  <strong>Descuento:</strong>
  <%= @factura.descuento %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @factura.fecha %>
</p>

<%= link_to 'Edit', edit_factura_path(@factura) %> |
<%= link_to 'Back', facturas_path %>
